@{
  Layout = "_Layout";
}

    <h1>Fill in the Stylist Details</h1>

    <form action="/stylists" method="post">
      <label for="name">Stylist name:</label>
      <input id="name" name="name" type="text">

      <button type="submit">Add</button>
    </form>
