@{
  Layout = "_Layout";
}

  <center><h1>Fill in the Stylist Details</h1></center>

    <div class = "container">
    <form action="/stylists" method="post">
    <div class = "form-group">
      <label for="name">Stylist name:</label>
      <input id="name" name="name" class = "form-control" type="text"><br>
    </div>

    <center><button type="submit" class = "btn btn-success">Add</button></center>

    </form>
    </div>

    <h3><a href="/">Back home</a></h3>
    <h3><a href="/stylists">Back to Stylists.</a></h3>
