@{
  Layout = "_Layout";
}

<h3>Here are all the Clients for this Stylist:</h3>

<ol>
@foreach (var client in @Model["client"])
{
  <li><a href='/stylists/@Model["stylist"].GetId()/clients/@client.GetId()'><h3>@client.GetName()</h3></a></li>
}
</ol>

<h3><a href='/stylists/@Model["stylist"].GetId()/clients/new'>Add a new client</a></h3>
<h3><a href='/stylists'>Return to Stylist list</a></h3>
<h3><a href='/'>Return to Main Page</a></h3>
