@{
  Layout = "_Layout";
}

  <div class="container">
    <h1>Welcome ....</h1>
    <h3><a href='/stylists/new'>Add a new stylist</a></h3>
    <h3><a href='/stylists'>View stylists available</a></h3>
  </div>
