@{
  Layout = "_Layout";
}

  <div class="container">
    <h1><marque>Welcome to Portland Salon</marque></h1>
    <p><a href='/stylists/new'>Add a new stylist</a></p>
    <p><a href='/stylists'>View stylists available</a></p>
  </div>
