@{
  Layout = "_Layout";
}

<center><h1>Fill in the Stylist Details</h1></center>

  <div class = "container">
  <form action="/stylists/@Model["stylist"].GetId()/clients/@Model["client"].GetId()" method="post">
  <div class = "form-group">
    <h3><label for="newName">New Client Name</label></h3>
    <input id="newName" name="newName" class = "form-control" type="text" value="@Model["client"].GetName()"><br>
  </div>

  <center><button type="submit" class = "btn btn-success">Edit</button></center>

  </form>
  </div>

  <h3><a href="/stylists/@Model["stylist"].GetId()/clients/@Model["client"].GetId()">Return to previous page</a></h3>
  <h3><a href="/">Back home</a></h3>
