@{
  Layout = "_Layout";
}

<center><h1>Add a new client to @Model.GetName()</h1></center>

<div class = "container">
<form action="/stylists/@Model.GetId()/clients" method="post">
<div class = "form-group">
  <input id="stylistId" name="stylistId" class = "form-control" type="hidden" value='@Model.GetId()'><br>
</div>
<div class = "form-group">
  <label  for="clientName">client Name</label>
  <input id="clientName" class = "form-control" name="clientName" type="text"><br>
</div>

  <center><button type="submit" class = "btn btn-success">Add client</button>
  </center>

</form>
</div>
