@{
  Layout = "_Layout";
}

<h3>@Model["client"].GetName()</h3>
<h3>Stylist: @Model["stylist"].GetName()</h3>

<a href='/stylists/@Model["stylist"].GetId()/clients/@Model["client"].GetId()/edit'><h3>Edit this client</h3></a>
<br>
<h3><a href='/stylists'>View all categories</a></h3>
